body {
	font-family: 'Dosis', serif;
}

#home-text h1 {
	font-size: 400%;
	color: #000000;
}

#home-text {
	position: absolute;
	top: 30%;
	left: 40%;
	color: #6d8487;
}

#home-image {
	background: url("/images/blossom.jpg") no-repeat;
	width: 100vw;
	height: 100vh;
	margin-top: -70px;
	position: relative;
	z-index: -1;
	opacity: 0.5;
}

/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/

.field-long {
	width: 62%;
}

#map {
	height: 400px;
	width: 100%;
}

#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #6d8487;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #c7e7ea;
}

.no-border {
  border: none;
}

.no-outline {
  outline: none;
}

.no-bg {
  background: none;
}

#logout-button {
	margin-top: 11.5px;
	color: white;
}

#logout-button:hover {
	background-color: #c7e7ea;
}

html, body, .container {
  height: 100%;
}
