<div class="header">
	<ul>
		<li><a href="/">home</a></li>
			<% if current_user %>
				<li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
				<li><form action='/sessions' method="post">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" value="Logout"/>
				</form></li>
			<% else %>
				<li><a href="/users/new">create an account</a></li>
				<li><a href="/sessions/login">login</a></li>
			<% end %>
	</ul>
</div>