<div id="map"></div>

<script>
  function initMap() {
    var uluru = {lat: <%= @latitude %>, lng: <%= @longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: uluru,
      // disableDefaultUI: true
    });
    // put users face as the marker initially
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>