<h1>create an account for where-to?</h1>	

<ul>
	<% if @errors %>
		<% @errors.each do |error| %>
			<li><%= error %></li><br>
		<% end %>
	<% end %>
</ul>

<form action="/users" method="post">
	<label for="username">Username:</label>
	<input type="text" name="user[username]"/><br>
	<%= erb :'partials/_user_form' %>
	<input type="submit" value="Register!"/>
</form>