<div class="show-page">
	<h1>Hello <%= current_user.username %>!</h1>

	<%= erb :'partials/_location_search' %>

	<p>Favorites:</p>
	<ul id="list-favorites">
		<% current_user.destinations.each do |destination| %>
			<li class="favorite-details"><a href="/destinations/<%= destination.id %>"><%= destination.name %></a></li>
		<% end %>
	</ul>
</div>

