<div class="user-home-page">
	<h1>Hello <%= current_user.username %>!</h1>

	<%= erb :'partials/_location_search' %>

	<p>Favorites:</p>
	<ul>
		<% current_user.destinations.each do |destination| %>
			<li><a href="/destinations/<%= destination.id %>"><%= destination.name %></a></li>
		<% end %>
	</ul>
</div>

