<h1 id="destination-title">where to? <%= @destination['results'][0]['formatted_address'] %></h1>


<%= erb :'partials/_map', layout: false, locals: {lat: @latitude, lng: @longitude} %>


<a class="destination-text" href="/destinations/<%= @location.id %>/restaurants">Nearby Restaurants</a>
<a class="destination-text" href="/destinations/<%= @location.id %>/things-to-do">Things to do</a>
