<h1>Where to? </h1>

<form action="/destinations" method="post">
	<label for="destination">Where to?</label><br>
	<input type="text" name="destination"/>
	<input type="submit" value="Let's Explore!"/>
</form><br><br>
